---
layout: default
---
<style>

.main-content img {min-width:100%;}
.post-block {margin:0 1em; border-bottom:1px solid #FFF;line-height: 2em; min-height:6em;}
.post-excerpt {display:inline-block; position:relative; float:right; max-width: 10em; height:6em; overflow:hidden; margin: 0 0 0 2em;}

</style>
<div>

{% for post in site.posts %}

<div class="post-block">

<a href="{{ post.url | relative_url }}" title="{{ post.title }}">
<span class="post-excerpt">{{ post.excerpt | markdownify | truncatewords: 30 }}</span>
</a>
    
<h2 class="post-title" itemprop="name headline"><a href="{{ post.url | relative_url }}" title="{{ post.title }}">{{ post.title | escape }}</a></h2>
	
<span class="post-categories">
{% if post %}
{% assign categories = post.categories %}
{% else %}
{% assign categories = page.categories %}
{% endif %}
{% for category in categories %}
<a href="{{site.baseurl}}/categories/#{{category|slugize}}" style="color:#999;">{{category}}</a>
{% unless forloop.last %}&nbsp;{% endunless %}
{% endfor %}
</span>
<span>&nbsp;|&nbsp;</span>
{% assign date_format = site.cayman-blog.date_format | default: "%Y-%m-%d" %}
<span class="post-meta">{{ post.date | date: date_format }}</span>

</div>

        
{% endfor %}

</div>
